/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;
  margin: 0; padding: 0; 
  transition: 0.175s ease-in-out;
}

@font-face {
  font-family: 'Dumadi - Perfect Earth';
  src: url('../font/Dumadi-PerfectEarth-Regular.eot');
  src: url('../font/Dumadi-PerfectEarth-Regular.eot?#iefix') format('embedded-opentype'),
      url('../font/Dumadi-PerfectEarth-Regular.woff2') format('woff2'),
      url('../font/Dumadi-PerfectEarth-Regular.woff') format('woff'),
      url('../font/Dumadi-PerfectEarth-Regular.ttf') format('truetype'),
      url('../font/Dumadi-PerfectEarth-Regular.svg#Dumadi-PerfectEarth-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

a{text-decoration: none; list-style-type: none;}

h1{
  font-family: 'Dumadi - Perfect Earth', sans-serif;
  font-size: 48px;
  font-weight: 400;
  font-style: normal;
  color: #fff;
}

h2{
  font-family: 'Dumadi - Perfect Earth', sans-serif;
  font-size: 34px;
  font-weight: 400;
  font-style: normal;
  color: #fff;
}

h3{
  font-family: "Merriweather Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1.375em;
  font-style: normal;
  line-height: 1.27273em;
  margin-bottom: 0.5454545455em;
  color: #00263D;
  margin-bottom: .5em;
}

h3{
  font-family: "Merriweather Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1.125em;
  font-style: normal;
  line-height: 1.27273em;
  margin-bottom: 0.5454545455em;
  color: #00263D;
  margin-bottom: .5em;
}

p{
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  color: #D4BBD6;
}

header{
  height: 90vh;
  background: url(../images/Tussenfase_POSTER\ A1.png);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

header > div{
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 20px;
  max-width: 465px;
}

header > div > h1{
  font-size: 28px;
  color: purple;
}

a.logo-btn{
  position: fixed;
  left: 20px;
  top: 20px;
  z-index: 1000;
}

a.poster-btn{
  border-radius: 50px;
  font-family: 'Dumadi - Perfect Earth', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  color: white;
  background: #D41367;
  text-align: center;
  position: fixed;
  padding: 15px 15px 12px 15px;
  right: 20px;
  top: 46px;
  z-index: 1000;
}

div.background-wave{
  overflow-x: hidden;
  margin-top: -10vh;
}

div.background-wave > svg{
  fill: purple !important;
}

main{
  background: purple;
  padding: 60px 0;
  display: grid;
  position: relative;
  z-index: 10;
  margin-top: -11px;
}

section{
  padding: 0 20px;
  max-width: 1024px;
  margin-bottom: 60px;
  margin: 0 auto;
}

section:nth-of-type(2){
  display: grid;
  text-align: left;
}

/*      MEDIA QUERY 580px and bigger  */
/*      Article                       */
/* ---------------------------------- */
@media only screen and (min-width: 580px){
  section:nth-of-type(2){
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
  }
}

/*      MEDIA QUERY 1025px and bigger  */
/*      Article                       */
/* ---------------------------------- */
@media only screen and (min-width: 1025px){
  section:nth-of-type(2){
    grid-column-gap: 50px;
  }
}

article{
  background: white;
  padding: 25px 25px 50px 25px;
  width: 100%;
  border-radius: 10px;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  margin-bottom: 50px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*      MEDIA QUERY 400px - 579px     */
/*      Article                       */
/* ---------------------------------- */
@media only screen and (max-width: 579px) and (min-width: 400px){
  article{
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    border-top-right-radius: 10px;
    flex-wrap: nowrap;
  }
}

/*      MEDIA QUERY 580px - 825px     */
/*      Article                       */
/* ---------------------------------- */
@media only screen and (max-width: 825px) and (min-width: 580px){
  article{
    border-top-left-radius: 200px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 200px;
    flex-wrap: wrap;
  }
}

/*      MEDIA QUERY 826px and bigger  */
/*      Article                       */
/* ---------------------------------- */
@media only screen and (min-width: 826px){
  article{
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    border-top-right-radius: 10px;
    flex-wrap: nowrap;
  }
}

article:first-child{
  border-radius: none;
  background: none;
  padding: 0;
  color: #fff;
  text-align: left;
  flex-wrap: wrap;
  justify-content: left;
}

/*      MEDIA QUERY 580px - 825px     */
/*      Article:first-child           */
/* ---------------------------------- */
@media only screen and (max-width: 825px) and (min-width: 580px){
  article:first-child{
    grid-column: 1 / -1;
  }
}

article:first-child > p{
  color: #D4BBD6;
}

article > img{
  float: left;
  padding: 0 0 25px 0;
}

/*      MEDIA QUERY 400px - 579px     */
/*      Article > img                 */
/* ---------------------------------- */
@media only screen and (max-width: 579px) and (min-width: 400px){
  article > img{
    float: left;
    padding: 0 25px 0 0;
    align-items: center;
  }
}

/*      MEDIA QUERY 826px and bigger  */
/*      Article > img                 */
/* ---------------------------------- */
@media only screen and (min-width: 826px){
  article > img{
    float: left;
    padding: 0 25px 0 0;
    align-items: center;
  }
}

article > p{
  color: #4c4c4c;
}

article > a.themeBtn{
  width: 190px;
  border-radius: 50px;
  font-family: 'Dumadi - Perfect Earth', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  color: white;
  background: #76BD24;
  position: absolute;
  bottom: -25px;
  padding: 15px 0;
  text-align: center;
}

/*      MEDIA QUERY 400px - 579px     */
/*      Article > a.themeBtn          */
/* ---------------------------------- */
@media only screen and (max-width: 579px) and (min-width: 400px){
  article > a.themeBtn{
    right: 25px;
  }
}

/*      MEDIA QUERY 580px - 825px     */
/*      Article:first-child           */
/* ---------------------------------- */
@media only screen and (max-width: 825px) and (min-width: 580px){
  article > a.themeBtn{
    right: unset;
  }
}

/*      MEDIA QUERY 826px and bigger  */
/*      Article > a.themeBtn          */
/* ---------------------------------- */
@media only screen and (min-width: 826px){
  article > a.themeBtn{
    right: 25px;
  }
}

footer{
  background: purple;
  margin-top: 1px;
  padding: 50px 0;
  text-align: center;
}

footer > div:nth-child(2){
  background: white;
}

nav{
  position: fixed;
  bottom: 0;
  background: url(../images/grass.png);
  background-position: center 149px;
  width: 100%;
  padding: 10px 0;
  z-index: 1000;
  height: 100px;
}

nav ul{
  max-width: 730px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  position: relative;
  margin: 0 auto;
}

nav ul li{
  min-width: 64px;
  text-align: center;
}

nav ul li a{
  font-family: 'Dumadi - Perfect Earth', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

nav ul li a > img{
  margin-top: 0;
}

nav ul li a:hover > img{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 10px;
  width: 60px;
  height: 60px;
  top: -10px;
  position: absolute;
}